p, h1, a {
    font-family: Roboto, sans-serif;
    color: #F6F6F6;
}

p {
    line-height: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100svh;
}

.portrait {
    background-image: url("img/ana-gomes-photo.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 150px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    padding-block: 5svh;  /*  vertical padding  */
    padding-inline: 5svw; /* horizontal padding */
    background-color: #1E1E1E;
}

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
}