.primary {
    font-weight: 600;
    color: #1E1E1E;
    background-color: #F1F1F1;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

.primary:hover {
    background-color: #D0D3F1;
}