img {
    width: 64px;
    height: 64px;
    /* zoom in and out effect */
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
     /* zoom in and out effect */
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}